<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'djangoapp:index' %}">Home</a>
                </li>   
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'djangoapp:about' %}">About</a>
                </li>                
              </ul>
              {% if user.is_authenticated %}
              <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-light" href="">({{ user.username }})</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light btn btn-danger" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>  
              </ul>              
              {% else %}   
              <form class="form-inline my-2 my-lg-0" action="{% url 'djangoapp:login' %}" method="post">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" aria-label="Username">
                <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" aria-label="Password">
                <button class="btn btn-success text-light my-2 mr-2 my-sm-0" type="submit">Login</button>
              </form>  
              {% endif %}            
            </div>
        </nav>
        <form action="{% url 'djangoapp:registration' %}" method="post">
            <div class="container"> 
              {% csrf_token %}
              <h1 class="mt-2">Sign Up</h1>
              <hr>
              <div class="form-group"> 
                  <label for="username"><b>Username</b></label>
                  <input type="text" class="form-control" placeholder="Enter Username:" name="username" required> <br>
                  <label for="firstname"><b>First Name</b></label>
                  <input type="text" class="form-control" placeholder="Enter your First Name:" name="firstname" required> <br> 
                  <label for="lastname"><b>Last Name</b></label>
                  <input type="text" class="form-control" placeholder="Enter your Last Name:" name="lastname" required> <br>
                  <label for="psw"><b>Password</b></label>
                  <input type="password" class="form-control" placeholder="Enter Password:" name="password" required> <br>
                  {% if message %}
                  <div class="alert alert-warning"> 
                      {{ message }}
                  </div>
                  {% endif %}
                  <button class="btn btn-primary" type="submit">Sign up</button> 
              </div>
            </div>
          </form>
    </body>
</html>